.product{
    width: 300px;
    height: 508px;
    border: 2px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
}

.product img{
    width: 286px;
    height: 286px;
    padding: 5px;
    border-radius: 8px;
}

.product-part{
    margin-top: 0;
    padding: 10px;
}
.name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 5px;
}
.price{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin-top: 0;
}
.seller{
    margin-top: 5px;
    margin-bottom: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.btn-cart{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #FFE0B3;
    border: 0;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-cart .btn-text{
    padding-right: 5px;
}
.btn-cart:hover{
    background: orange;
}